<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <div class="left-nav">
      {#
      <!-- <a href="{{ url_for('home_bp.home') }}">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"/>
      </a> -->
      #}
        <a href="{{ url_for('user_bp.dashboard') }}">Home</a>
        <a href="{{ url_for('transaction_bp.index') }}">Transactions</a>
        <a href="{{ url_for('transfer_bp.index') }}">Transfers</a>
      {#
        <!-- <a href="{{ url_for('home_bp.about') }}">About</a>
        <a href="{{ url_for('home_bp.contact') }}">Contact</a> -->
      #}
    </div>

    <div class="right-nav">
      {% if request.blueprint != 'user_bp' %}
        <a href="{{ url_for('user_bp.dashboard') }}">My Account</a>
      {% else %}
        <button type="button" class="btn btn-secondary disabled">{{ current_user.name }}</button>
        <a href="{{ url_for('home_bp.home') }}">Logout</a>
      {% endif %}
    </div>

  </div>
</nav>
