<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">

    <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('user_bp.dashboard') }}">Home
          <span class="visually-hidden">(current)</span>
        </a>
      </li>
      <li>
      <a class="nav-link active" href="{{ url_for('simulator_bp.dashboard') }}">Simulator
        <span class="visually-hidden">(current)</span>
      </a>
      </li>
      <li>
      <a class="nav-link active" href="{{ url_for('amm_bp.records') }}">Records
        <span class="visually-hidden">(current)</span>
      </a>
      </li>
      <li>
      <a class="nav-link active" href="{{ url_for('auth_bp.logout') }}">Logout
        <span class="visually-hidden">(current)</span>
      </a>
      </li>

      {#
      {#
      <!-- <a href="{{ url_for('home_bp.home') }}">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"/>
      </a> -->
      #}
      {#
        <!-- <a href="{{ url_for('transaction_bp.index') }}">Transactions</a>
        <a href="{{ url_for('transfer_bp.index') }}">Transfers</a> -->
      #}

      </div>
</nav>
